@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--baseColor);
  background: var(--baseBackground);
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: #1683f4;
  --twitter: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --gray: #9b9ea7;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #989898;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}

.wrapper {
  padding: 0 30px;
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.overviewBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

/* Classifying the defined variable into color themes */
.is-dark-mode {
  --cardGray: #252b43;
  --baseBackground: #1d2029;
  --baseColor: white;
  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37cebf 100%);
}

.is-light-mode {
  --gray: #9b9ea7;
  --cardGray: #f0f3fa;
  --ligthGray: #f8f9fe;
  --cardTitle: #575a66;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cardGray: #252b43;
    --baseBackground: #1d2029;
    --baseColor: white;
    --gray: #8088ad;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37cebf 100%);
  }
}

.headerTitle {
  font-size: 1.9em;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  .flexBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .overviewBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}

@media screen and (min-width: 768px) {
  .flexBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
  }

  .overviewBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
   
  }
}

@media screen and (min-width: 1024px) {
  .flexBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    gap: 3vw;
  }

  .overviewBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
    gap: 3vw;
  
  }
}
